<div class="myCourse-fields-wrapper">
  <div class="my-course-item row mx-0">
    <div class="col-md-3">
      <img src="https://i.udemycdn.com/course/240x135/1362070_b9a1_2.jpg" alt="" class="img-fluid w-100">
    </div>
    <div class="my-course-item__content col-md-6">
      <div class="my-course-item__title">
        <h3>React JS Web Development - The Essentials Bootcamp</h3>
      </div>
      <div class="my-course-item__meta">
        <span class="course-review_title">Bestseller</span>
        <span><i class="fab fa-leanpub"></i>125 lectures</span>
        <span><i class="fa fa-clock"></i>11 hour</span>
        <span><i class="fa fa-level-up-alt"></i>All level</span>
      </div>
      <div class="my-course-item__headline">Bootcamp on the React.js essentials. Gain a strong foundation of the
        core concepts, and build exciting and useful apps! <span>! By David Joseph Katz</span> </div>
    </div>
    <div class="col-md-2 text-right my-course-item__price-rating px-0">
      <div class="course-price-text">9.99$</div>
      <div class="course-review__star">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star-half-alt"></i>
        4.5
      </div>
      <div class="course-rating">(101,760 ratings)</div>
    </div>
    <div class="col-md-1 text-center mt-4 text-danger" style="font-size: 30px">x</div>
  </div>
</div>