<section class="myIntro">
  <div class="intro_content container">
    <div class="row py-2">
      <div class="col-md-4">
        <div class="intro-item d-flex align-items-center">
          <i class="fa fa-bullseye icon"></i>
          <div class="icon_content">
            <p>Much online courses</p>
            <p>Programming courses are designed from the experience of technology experts in Vietnam</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="intro-item d-flex align-items-center">
          <i class="fa fa-spinner icon"></i>
          <div class="icon_content">
            <p>Expert teaching methods</p>
            <p>Students will learn effectively from basic to advanced programming knowledge.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="intro-item d-flex align-items-center">
          <i class="fa fa-sync icon"></i>
          <div class="icon_content">
            <p>Lifetime access</p>
            <p>Students will opportunities to find IT jobs with my partners after programming course.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>