<section class="myCover">
  <div class="cover_content">
      <h1>Much a course</h1>
      <ul class="banner_description">
          <li>Data visualization 23/12</li>
          <li>Machine Learning 28/12</li>
          <li>Data Analysis 30/12</li>
          <li>Web front end Development 30/12</li>
      </ul>
      <form action="#" class="formSearch" #formSearchCarousel="ngForm" (submit)="searchHandler(formSearchCarousel)">
          <div class="input-group">
              <input type="text" class="form-control" placeholder="What do you want to learn?"
                  aria-label="Recipient's username" aria-describedby="button-addon2" name="keySearch" ngModel #keySearch="ngModel">
              <div class="input-group-append">
                  <button class="input-group-text" id="button-addon2">
                      <i class="fa fa-search">
                      </i>
                  </button>
              </div>
          </div>
      </form>
  </div>
</section>