<section class="categories">
  <div class="categories-content container mt-4">
    <h3 class="section-title">Top categories</h3>
    <div class="row">
      <div class="col-12 col-md-6 col-lg-4 col-xl-4 my-2">
        <div class="categories-item" routerLink="/search/BackEnd">
          <i class="fa fa-server categories_icon"></i>
          <span>Back End</span>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 col-xl-4 my-2">
        <div class="categories-item" routerLink="/search/DiDong">
          <i class="fa fa-mobile-alt categories_icon"></i>
          <span>Di Động</span>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 col-xl-4 my-2">
        <div class="categories-item" routerLink="/search/Design">
          <i class="fa fa-pencil-alt categories_icon"></i>
          <span>Design</span>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 col-xl-4 my-2">
        <div class="categories-item" routerLink="/search/FrontEnd">
          <i class="fa fa-desktop categories_icon"></i>
          <span>Front End</span>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 col-xl-4 my-2">
        <div class="categories-item" routerLink="/search/FullStack">
          <i class="fa fa-code categories_icon"></i>
          <span>Full Stack</span>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 col-xl-4 my-2">
        <div class="categories-item" routerLink="/search/TuDuy">
          <i class="fa fa-brain categories_icon"></i>
          <span>Tư duy</span>
        </div>

      </div>
    </div>
  </div>
</section>