<header>
  <nav class="header navbar navbar-expand-md navbar-light headerClass">
    <div class="header_left col-xl-7  col-lg-9 col-md-8 col-sm-6 col-5">
      <a class="navbar-brand" href="#"><img src="./../../../assets/img/logo-coral.svg" alt=""></a>
      <div class="dropdown">
        <!-- <span class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Catelogries
              </span> -->
        <span href="#" class="catelogries mr-4 dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown"
          (click)="handleShoweaderDropdownMenu()"><i class="fa fa-th mr-2"></i>Catelogries</span>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" [ngClass]="{show: isShowHeaderDropdownMenu}">
          <a class="dropdown-item" href="#">
            <i class="fa fa-server"></i>
            <span>Back End</span>
          </a>
          <a class="dropdown-item" href="#">
            <i class="fa fa-mobile-alt"></i>
            <span>Di Động</span>
          </a>
          <a class="dropdown-item" href="#">
            <i class="fa fa-pencil-alt"></i>
            <span>Design</span>
          </a>
          <a class="dropdown-item" href="#">
            <i class="fa fa-desktop"></i>
            <span>Front End</span>
          </a>
          <a class="dropdown-item" href="#">
            <i class="fa fa-code"></i>
            <span>Full Stack</span>
          </a>
          <a class="dropdown-item" href="#">
            <i class="fa fa-brain"></i>
            <span>Tư duy</span>
          </a>
        </div>
      </div>

      <form action="#" class="formSearch">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search for Coureses" aria-label="Recipient's username"
            aria-describedby="button-addon2">
          <div class="input-group-append">
            <span class="input-group-text" id="button-addon2">
              <i class="fa fa-search">
              </i>
            </span>
          </div>
        </div>
      </form>
    </div>
    <div class="header_right col-xl-5 col-lg-3 col-md-4 col-sm-4">
      <ul class="navbar-nav justify-content-between align-items-center">
        <li class="nav-item menu-item">
          <a class="nav-link" href="#">About Us</a>
        </li>
        <li class="nav-item menu-item">
          <a class="nav-link" href="#">Events</a>
        </li>
        <li class="nav-item menu-item">
          <a class="nav-link" href="#">Blog</a>
        </li>
        <li class="nav-item" (mouseenter)="handleIsShowShoppingCartMenu(true)"
          (mouseleave)="handleIsShowShoppingCartMenu(false)">
          <a class="nav-link" href="#">
            <i class="fa fa-shopping-cart"></i>
            <span class="position-absolute rounded-circle text-center" *ngIf="courseArrInShoppingCard.length!==0"
              style="top: 2px; background: #ec5252; width: 20px; height: 20px; line-height: 20px; font-size: 13px;color: #fff; transform: translateX(-5px);">{{courseArrInShoppingCard.length}}</span>
          </a>
          <div class="shopping-cart-menu" *ngIf="isShowShoppingCartMenu && (courseArrInShoppingCard.length!==0) ">
            <div href="" class="shopping-cart-item d-flex align-items-center  text-decoration-none"
              *ngFor="let item of courseArrInShoppingCard">
              <img [src]="item.hinhAnh" alt="">
              <div class="shopping-cart-item_desc w-100">
                <p style="color: #505763; font-size: 13px;">{{item.tenKhoaHoc}}: {{item.moTa}}</p>
                <p style="color: #686f7a; font-size: 11px;">by {{item.nguoiTao.hoTen}}</p>
                <p style="color: #ec5252; font-size: 18px;">9.99$</p>
              </div>
              <div class="item-cart-remove mr-2" style="cursor: pointer;"
                (click)="handleRemoveCourseOnShoppingCard(item)">x</div>
            </div>
            <div class="shopping-cart-total">
              <p class="mb-0">
                <span>Total: </span>
                <span style="color: #ec5252; font-size: 18px;">199.99</span>
              </p>
            </div>
            <div class="menu-cart-button d-flex">
              <button class="w-100 mr-3 pay-shopping-card">Pay shopping card</button>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <div class="btnGroup" href="#">
            <button class="btn btn-white mr-1" (click)="handleOpenHeaderModal('signIn')">Log in</button>
            <button class="btn btn-red" (click)="handleOpenHeaderModal('signUp')">Sign up</button>
          </div>
        </li>

      </ul>
    </div>
  </nav>

  <!-- Modal Sign In -->
  <div class="modal fade pt-5" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true" [ngClass]="{'show d-block': isShowHeaderModal==='signIn'}">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form #formSignIn="ngForm" (submit)="signInHandler(formSignIn)" class="example-form">
          <div class="modal-header text-center">
            <h4 class="modal-title w-100 font-weight-bold">Login</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"
              (click)="handleCloseHeaderModal(formSignIn)">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body mx-2">
            <div class="form-group d-flex align-items-center justify-content-between">
              <i class="fas fa-id-card prefix grey-text"></i>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="ID" name="taiKhoan" ngModel #taiKhoan="ngModel" required>
                <mat-error *ngIf="taiKhoan.errors && (taiKhoan.dirty || taiKhoan.touched)">
                  <span *ngIf="taiKhoan.errors.required">ID is <strong>required</strong></span>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="form-group d-flex align-items-center justify-content-between">
              <i class="fas fa-lock prefix grey-text"></i>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Password" name="matKhau" ngModel #matKhau="ngModel" required minlength="5"
                  maxlength="16">
                <mat-error *ngIf="matKhau.errors && (matKhau.dirty || matKhau.touched)">
                  <span *ngIf="matKhau.errors.required">Password is <strong>required</strong></span>
                  <span *ngIf="matKhau.errors.minlength || matKhau.errors.maxlength"> Password length must be between
                    <strong>6 and 16</strong></span>
                </mat-error>
              </mat-form-field>
            </div>

            <div class="form-group checked">
              <input type="checkbox" id="input-login-checked" class="login__checkbox">
              <span class="login__checkmark"></span>
              <label for="input-login-checked">Remember me</label>
            </div>

          </div>

          <div class="modal-footer d-flex justify-content-center">
            <button mat-stroked-button type="submit" [disabled]="formSignIn.invalid">Login</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- Modal Sign Up -->
  <div class="modal fade pt-3" id="modalSignUpForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true" [ngClass]="{'show d-block': isShowHeaderModal==='signUp'}">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form #formSignUp="ngForm" (submit)="signUpHandler(formSignUp)" class="example-form">
          <div class="modal-header text-center">
            <h4 class="modal-title w-100 font-weight-bold">Sign Up</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"
              (click)="handleCloseHeaderModal(formSignUp)">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body mx-2">
            <div class="form-group d-flex align-items-center justify-content-between">
              <i class="fas fa-id-card prefix grey-text"></i>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="ID" name="taiKhoan" ngModel #taiKhoan="ngModel" required>
                <mat-error *ngIf="taiKhoan.errors && (taiKhoan.dirty || taiKhoan.touched)">
                  <span *ngIf="taiKhoan.errors.required">ID is <strong>required</strong></span>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="form-group d-flex align-items-center justify-content-between">
              <i class="fas fa-lock prefix grey-text"></i>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Password" name="matKhau" ngModel #matKhau="ngModel" required minlength="5"
                  maxlength="16">
                <mat-error *ngIf="matKhau.errors && (matKhau.dirty || matKhau.touched)">
                  <span *ngIf="matKhau.errors.required">Password is <strong>required</strong></span>
                  <span *ngIf="(matKhau.errors.minlength || matKhau.errors.maxlength) && !matKhau.errors.required"> Password length must be between
                    <strong>6 and 16</strong></span>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="form-group d-flex align-items-center justify-content-between">
              <i class="fas fa-id-card prefix grey-text"></i>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="User name" name="hoTen" ngModel #hoTen="ngModel" required>
                <mat-error *ngIf="hoTen.errors && (hoTen.dirty || hoTen.touched)">
                  <span *ngIf="hoTen.errors.required">User name is <strong>required</strong></span>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="form-group d-flex align-items-center justify-content-between">
              <i class="fas fa-id-card prefix grey-text"></i>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Phone number" name="soDT" ngModel #soDT="ngModel" required pattern="[0-9]{10}">
                <mat-error *ngIf="soDT.errors && (soDT.dirty || soDT.touched)">
                  <span *ngIf="soDT.errors.required">Phone number is <strong>required</strong></span>
                  <span *ngIf="soDT.errors.pattern && !soDT.errors.required">Phone number is <strong>invalid</strong></span>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="form-group d-flex align-items-center justify-content-between">
              <i class="fas fa-id-card prefix grey-text"></i>
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Email" name="email" ngModel #email="ngModel" required type="email" [email]="true" >
                <mat-error *ngIf="email.errors && (email.dirty || email.touched)">
                  <span *ngIf="email.errors.required">Email is <strong>required</strong></span>
                  <span *ngIf="email.errors.email && !email.errors.required">Email is <strong>invalid</strong></span>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="form-group checked">
              <input type="checkbox" id="input-login-checked" class="login__checkbox">
              <span class="login__checkmark"></span>
              <label for="input-login-checked">Remember me</label>
            </div>

          </div>

          <div class="modal-footer d-flex justify-content-center">
            <button mat-stroked-button color="warn" type="submit" [disabled]="formSignUp.invalid">Sign Up</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</header>