<section class="footer ">
  <div class="footer-widget container">
    <div class="row py-md-5 py-3 mx-0 px-0">
      <div class="col-md-9 d-flex justify-content-start px-0">
        <ul class="footer-widget__item ml-0">
          <li class="footer-widget__title">ABOUT US</li>
          <li>We help developers, designers and website owner's create stunning websites</li>
          <li><i class="fa fa-landmark footer-widget__icon"></i> đường 69, TPHCM</li>
          <li class=""></li>
          <li><i class="fa fa-phone footer-widget__icon"></i>0123456789</li>
          <li><i class="fa fa-envelope footer-widget__icon"></i>examplete@gmail.com</li>
          <li class="footer-social mt-3">
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-google-plus-g"></i>
            <i class="fab fa-youtube"></i>
          </li>
        </ul>
        <ul class="footer-widget__item">
          <li class="footer-widget__title">CATALOG</li>
          <li>Web Development</li>
          <li>Programing</li>
          <li>Data Science</li>
          <li>Design</li>
          <li>Mobile</li>
        </ul>
        <ul class="footer-widget__item footer-widget__time">
          <li class="footer-widget__title">WORKING TIME</li>
          <li>
            <p>Monday</p>
            <p>9:30-18:30</p>
          </li>
          <li>
            <p>Tuesday</p>
            <p>9:30-18:30</p>
          </li>
          <li>
            <p>Wednesday</p>
            <p>9:30-18:30</p>
          </li>
          <li>
            <p>Thursday</p>
            <p>9:30-18:30</p>
          </li>
          <li>
            <p>Friday</p>
            <p>9:30-18:30</p>
          </li>
          <li>
            <p>Saturday</p>
            <p>9:30-18:30</p>
          </li>
          <li>
            <p>Saturday</p>
            <p>closed</p>
          </li>
        </ul>
      </div>
      <div class="col-12 col-md-3 d-flex justify-content-md-end justify-content-start px-0">
        <div class="dropdown">
          <p class="dropdown-toggle px-3 py-2 footer__dropdown" type="button" id="dropdownLanguage"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" (click)="handleShowDropdownLanguageFooter()">
            <i class="fa fa-globe-africa"></i>
            <span class="pr-5 pl-2">English</span>
          </p>
          <div class="dropdown-menu footer__dropdownMenu w-100" aria-labelledby="dropdownLanguage" [ngClass]="{show: isShowDropdownLanguageFooter}">
            <a class="dropdown-item" href="#">English</a>
            <a class="dropdown-item" href="#">Japanese</a>
            <a class="dropdown-item" href="#">Vietnamese</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row footer-bottom mx-auto container">
    <div class="col-9 col-md-8 col-xl-8 px-0 footer-left">
      <p id="footer"> &#8902; 2018 Bake. All Rights Reserved | Design by <span>W3Layouts</span></p>
    </div>
    <div class="col-12 col-md-4 col-xl-4 footer-right text-md-right mt-1">
      <i class="fab fa-cc-visa"></i>
      <i class="fab fa-cc-discover"></i>
      <i class="fab fa-cc-mastercard"></i>
      <i class="fab fa-cc-paypal"></i>
    </div>
  </div>
</section>